<!-- include the CSS styling  -->
<%- include sidetopbar_css %>

<sidebar>
  <!-- this is the sidebar section -->
  <div class="sidebar bg-table">
    <div class="logo bg-primary text-dark justify-center align-center">
      <h3 class="text-center pt-1">BrandCery</h3>
    </div>

    <!-- subsection  -->
    <ul class="nav flex-column pt-5">
      <li class="nav-item">
        <a class="nav-link" href="#">
          <i class="fa fa-dashboard mr-2"></i>Dashboard</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fa fa-user mr-2"></i>Users</a>
      </li>
    </ul>
  </div>

  <!-- this is the topbar section -->
  <div class="topbar pl-5 bg-table text-white">Dashboard</div>
</sidebar>
