/*@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700,900');*/

/* ======= General Rules ======== */
header,
footer,
aside,
section,
article {
  display: block;
  margin: 0px;
  padding: 0px;
}
* {
  font-family: Quicksand, "Trebuchet MS", Arial, sans-serif;
  margin: 0px;
  padding: 0px;
  border: opx;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}
